<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ABATS.AppsTalk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AppsTalk2;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityTokenUserName" value="userName"/>
    <add key="SecurityTokenPassword" value="password"/>
    <add key="InterfaceVersion" value="1.0"/>
    <add key="BuildNumber" value="1"/>
    <add key="SenderID" value="1"/>
    <add key="StockMappingMainSplitter" value="$$" />
    <add key="StockMappingInnerSplitter" value="||" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" batch="false">
      <assemblies>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <httpRuntime maxRequestLength="10240" executionTimeout="10000" requestValidationMode="2.0" />
    <sessionState mode="InProc" cookieless="false" timeout="240" />
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Views/Core/Errors/Oops.aspx">
      <error statusCode="404" redirect="~/Views/Core/Errors/Error404.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <ABATS.AppsTalk.Properties.Settings>
      <setting name="ABATS_AppsTalk_AppsTalkWS_AppsTalkWebServiceInterface"
        serializeAs="String">
        <value>http://localhost/AppsTalkWebService/AppsTalkWebServiceInterface.asmx</value>
      </setting>
    </ABATS.AppsTalk.Properties.Settings>
  </applicationSettings>
</configuration>