Adapters/ABATS.AppsTalk.Adapters.WincashWSAdapter/bin
Adapters/ABATS.AppsTalk.Adapters.WincashWSAdapter/obj

Backend/ABATS.AppsTalk.Launcher/bin
Backend/ABATS.AppsTalk.Launcher/obj

Backend/AppsTalkWebService/bin
Backend/AppsTalkWebService/obj

Backup/
Packages/

Framework/ABATS.AppsTalk.Core/bin
Framework/ABATS.AppsTalk.Core/obj

Framework/ABATS.AppsTalk.Data/bin
Framework/ABATS.AppsTalk.Data/obj

Framework/ABATS.AppsTalk.Runtime/bin
Framework/ABATS.AppsTalk.Runtime/obj

Framework/ABATS.AppsTalk.UX/bin
Framework/ABATS.AppsTalk.UX/obj

Frontend/ABATS.AppsTalk/bin
Frontend/ABATS.AppsTalk/obj

Frontend/ABATS.AppsTalk.Presentation/bin
Frontend/ABATS.AppsTalk.Presentation/obj