<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SecurityTokenUserName" value="userName" />
    <add key="SecurityTokenPassword" value="password" />
    <add key="InterfaceVersion" value="1.0" />
    <add key="BuildNumber" value="1" />
    <add key="SenderID" value="1" />
    <add key="StockMappingMainSplitter" value="$$" />
    <add key="StockMappingInnerSplitter" value="||" />
</appSettings>
</configuration>