<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SecurityTokenUserName" value="userName"/>
    <add key="SecurityTokenPassword" value="password"/>
    <add key="InterfaceVersion" value="1.0"/>
    <add key="BuildNumber" value="1"/>
    <add key="SenderID" value="1"/>
    <add key="StockMappingMainSplitter" value="$$" />
    <add key="StockMappingInnerSplitter" value="||" />
  </appSettings>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AppsTalk;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>